@{
    ViewBag.Title = "Index";
    var selectDonVi = ViewBag.Select as List<SelectListItem>;
    var selectYear = ViewBag.SelectYear as List<SelectListItem>;
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Quản Lý Giáo Viên</a>
        </li>
        <li class="breadcrumb-item active">Tổng hợp tải theo đơn vị</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Tổng hợp tải theo đơn vị
        </div>
        <div class="card-body">
            <label class="label">Năm Học: </label>
            @Html.DropDownList("namHoc", selectYear, new { @class = "form-control text-box single-line", @id = "namHoc" })
            <label class="label">Đơn Vị: </label>
            @Html.DropDownList("donVi", selectDonVi, new { @class = "form-control text-box single-line", @id = "donVi" })
            <br />
            <div style="text-align:center; padding: 8px 0px; color:#fff;background:#343a40;">BẢNG TỔNG HỢP TẢI CÔNG TÁC CỦA CÁN BỘ, GIÁO VIÊN</div>
            <div id="render-table"></div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<script>
    $(document).ready(function () {
        var namHoc = '@selectYear.ElementAt(0).Value';
        var donVi = '@selectDonVi.ElementAt(0).Value';
        callAjaxGetValue(namHoc, donVi);
    });

    $('#namHoc').change(function () {
        var namHoc = $('#namHoc').val();
        var donVi = $('#donVi').val();
        callAjaxGetValue(namHoc, donVi);
    });

    $('#donVi').change(function () {
        var namHoc = $('#namHoc').val();
        var donVi = $('#donVi').val();
        callAjaxGetValue(namHoc, donVi);
    });

    function callAjaxGetValue(namHoc, donVi) {
        $.ajax({
            url: "/TongHop/GetList?namHoc=" + namHoc + "&maDonVi=" + donVi,
            type: 'get',
            success: function (response) {
                $('#render-table').html(response);
            }
        });
    };
</script>