@model IList<TeacherManagement.DTOs.GiaoVienCongTacKhacDTO>
@{
    var selectListSchoolYear = ViewBag.SelectListSchoolYear as List<SelectListItem>;
}
@if (Model == null || Model.Count == 0)
{
    <tr>
        <td class="tg-0lax" colspan="4" style="text-align:center;">không có dữ liệu</td>
    </tr>
}
else
{
    int i = 1;
    foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>@(item.NoiDungCongTac != null ? item.NoiDungCongTac : "")</td>
            <td>@(item.VaiTro != null ? item.VaiTro : "")</td>
            <td>@(item.GhiChu != null ? item.GhiChu : "")</td>
        </tr>
        i++;
    }
}
