@model TeacherManagement.Models.TBGiaoVien
@{
    var selectListSchoolYear = ViewBag.SelectListSchoolYear as List<SelectListItem>;
}
<div class="container mb-4 main-container">
    <div class="title-part">Tham Gia Hướng Dẫn</div>
    <div class="information-teacher">
        <div class="form-group">
            <label class="label">Năm Học: </label>
            @Html.DropDownList("schoolYear", selectListSchoolYear, new { @class = "form-control text-box single-line", @id = "school-year-huong-dan" })
            <br />
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên học viên</th>
                        <th scope="col">Tên đề tài</th>
                        <th scope="col">Tên lớp hướng dẫn</th>
                        <th scope="col">Tên loại hướng dẫn</th>
                        <th scope="col">Tên hệ đào tạo</th>
                    </tr>
                </thead>
                <tbody id="render-result-huong-dan"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var value = '@selectListSchoolYear.ElementAt(0).Value';
        callAjaxGetValueHuongDan(value);
    });

    $('#school-year-huong-dan').change(function () {
        var value = $('#school-year-huong-dan').val();
        callAjaxGetValueHuongDan(value);
    });

    function callAjaxGetValueHuongDan(namHoc) {
        $.ajax({
            url: "/TBGiaoVien/ThamGiaHuongDanRenderResult?NamHoc=" + namHoc + "&id=@Model.MaGV",
            type: 'get',
            success: function (response) {
                $('#render-result-huong-dan').html(response);
            }
        });
    };
</script>


